*{
  box-sizing: border-box;
}
body, html
{
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #ddd;
  width: 100%;
  height:100%;
}
.team-area
{
  display: flex;
  width: 90%;
  justify-content: space-around;
  /*flex-wrap: wrap;*/
}
img
{
  width:300px;
  height:300px;
}
.single-team
{
  width: 360px;
  height: 400px;
  padding:24px;
  background:orange;
  position:relative;
  display: flex;

  align-items: flex-end;
  transition: .2s ease-out;
  box-shadow: 0 10px 10px rgba(0,0,0,0.5);
}
.single-team:hover
{
  transform: translateY(15px);
}
.single-team:hover:before
{
  opacity:1;
}
.single-team:hover .team-text
{
  opacity: 1;
  transform: translateY(0);
}
.single-team:before
{
  content: '';
  position: absolute;
  top: 0;
  left:0;
  display:block;
  width:100%;
  height:100%;
  background:linear-gradient(to top, #000, transparent);
  z-index: 2;
  transition:0.5s;
  opacity:0;
}
.single-team img
{
  width:100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  object-fit: cover;
}
.single-team .team-text
{
  position: relative;
  z-index: 3;
  color: #fff;
  opacity: 0;
  transform: translateY(60px);
  transition: 0.5s;
}
.team-text h2
{
  margin: 0;
  letter-spacing: 3px;
}
.team-text p
{
  letter-spacing: 1px;
  font-size: 15px;
  margin-top: 8px;
}
.team-text a
{
  width: 30px;
  height: 30px;
  display: inline-block;
  border: 1px solid #fff;
  border-radius: 50%;
  margin: 0 5px;
  text-decoration: none;
}
.team-text a i
{
  color:white;
  padding: 6px 8px;
}